.mainLogoAppBar {
  display: inline-block;
  color: #5f6368;
  font-family: 'Product Sans',Arial,sans-serif;
  font-size: 22px;
  position: relative;
  vertical-align: middle;
}
.searchBar {
  background-color: #f1f3f4;
  border-color: #f1f3f4 ;
}