.mainLogoForgetPassword {
    background: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      cyan,
      indigo,
      violet
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 25px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande","Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-clip: text;
  }
  
  .forgotpassword {
    width: 40%;
    margin: 2% auto;
  }
  
  .outerBox {
    box-flex: 1;
    padding: 58px 50px 46px;
  }
  
  .imgBoxForForgetPassword {
    position: relative;
    width: 500px;
    height: auto;
    min-height: 400px;
    right: 50%;
    left: 50%;
    margin-top: 6em; 
    margin-left: -200px; 
    margin-bottom: 5em;
    border-radius: 8px;
    border: 1px solid #b2b2b4;
    transition: width 0.5s;
  }
  
  .signInSignUp {
    display: inline-block;
    display: flex;
  }
  
  .signIn {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #1a73e8;
    margin-top: 38px;
    margin-left: 0px;
    margin-right: auto;
    padding: 6px 0;
  }
  
  .create {
    margin-top: 38px;
    margin-left: auto;
    margin-right: 12px;
  }