.rainbow {
    font-weight: bold;
    font-size: 25px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande","Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .rainbow span:nth-child(5n + 1) {
    color:#4caf50 ;
  }
  
  .rainbow span:nth-child(5n + 2){
    color:#00bcd4;
  }
  
  .rainbow span:nth-child(5n + 3){
    color:#651fff;
  }
  
  .rainbow span:nth-child(5n + 4){
    color:#ffda07;
  }
  
  .rainbow span:nth-child(5n + 5){
    color:#fa0a06;
  }

  .rainbow span:nth-child(5n + 6){
    color:#ff7707;
  }

  .rainbow span:nth-child(5n + 7) {
    color:#ab47bc;
  }

  .headingAndSubHeading {
    margin-top: 4px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 0px;
  }
  
  .imgBoxForLogin {
    position: relative;
    width: 498px;
    height: auto;
    min-height: 500px;
    right: 50%;
    left: 50%;
    margin-top: 4em; 
    margin-left: -246px;
    margin-bottom: 5em;
    border-radius: 8px;
    border: 1px solid #b2b2b4;
    transition: width 0.5s;
  }
  
  .forgotPassword {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 10px;
    color: #1a73e8;
    margin-left: 50px;
    margin-right: 20px;
    padding: 6px 0;
  }
  
  .signInSignUp {
    display: inline-block;
    display: flex;
  }
  
  .signIn {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #1a73e8;
    margin-top: 38px;
    margin-left: 20px;
    margin-right: auto;
    padding: 6px 0;
  }
  
  .create {
    margin-top: 38px;
    margin-left: auto;
    margin-right: 12px;
  }
  
  .messageLogin {
    color: rgba(20, 19, 19, 0.6);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 6px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
  }