.notesCard{
    color: #202124;
    padding: 24px;
    margin-top: 100px;
    height: 200px;
    width: 260px;
    display: flex;
    flex-direction: column;
    direction: ltr;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .13);
    background: skyblue;
     border-radius: 4px;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 15px;
    margin-right: 50px;
    pointer-events: auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-radius: 18px;
    transition-duration: 0.218s;
    transition-property: background,border,opacity,box-shadow,transform;
    transition-timing-function: ease-in;
    background-color: #fff;
    border-color: #e0e0e0; 
}